<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SSRS.OpenIDConnect.Security.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SSRS.OpenIDConnect.Security.Properties.Settings>
            <setting name="PEURL" serializeAs="String">
                <value>https://pes.pehosted.com</value>
            </setting>
            <setting name="PEAppID" serializeAs="String">
                <value>87b2b36f245a4583aac5727c64b72082</value>
            </setting>
            <setting name="PEAppKey" serializeAs="String">
                <value>rbjt/RENS6ZF4qhxpEqzDHoju9iziw9W/GpEoTMsegc=</value>
            </setting>
        </SSRS.OpenIDConnect.Security.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>